

section{
    border: 1px solid green;
}

.about{
    display: flex;
    max-width: 1440px;
    padding: 0px 30px;
    margin: 0 auto;
}

.about-1{
    border: px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/* .about-1 div{
    border: px solid red;
    width: calc(100% - 10px);
} */

.about-1 img{
    height: 100%;
    width: 100%;
}

.about-2{
    width: 50%;
    height: 100%;
    background-color: aqua;
    border: px solid red;
}


@media screen and (max-width:991px) {
    .about{
        flex-direction: column;
    }

    .about-1{
        width: 100%;
    }

    .about-1 img{
        width: %;
    }

    .about-2{
        width: 100%;
    }
}